.ranking_items {
  margin: 10px 10px 10px 50px;
}

.item_img {
 text-align: center;
 margin: 0px 0px 5px 0px;
 padding: 10px 30px 10px 30px;
 background: white;
 border: solid;
 border-color: lightgrey;
 border-width: 1px;
}

.ranking_number {
  background: grey;
  padding: 3px;
  color: white;
  text-align: center;
}

.ranking-1 {
  background: red;
}

.ranking-2 {
  background: orange;
}

.ranking-3 {
  background: pink;
}

.item_title {
  padding: 10px 30px 10px 30px;
}

